<app-navbar
  class="mobile-navbar"
  [isSidebarOpen]="isSidebarOpen"
  (menuClick)="toggleSidebar()">
</app-navbar>

<div class="layout-container">
  <app-sidebar
    [isOpen]="isSidebarOpen"
    class="desktop-sidebar"
    [class.mobile-open]="isSidebarOpen">
  </app-sidebar>

  <main class="main-content" [class.sidebar-open]="isSidebarOpen">
    <div class="community-details" *ngIf="community">
      <h1 class="community-title">{{ community.name }}</h1>

      <div class="community-info">
        <p class="community-field">
          <mat-icon>location_city</mat-icon>
          Grad: <strong>{{ community.city }}</strong>
        </p>

        <p class="community-field" *ngIf="community.phoneNumber">
          <mat-icon>call</mat-icon>
          Telefon: <strong>{{ community.phoneNumber }}</strong>
        </p>

        <p class="community-field" *ngIf="community.facebook">
          <mat-icon>facebook</mat-icon>
          Facebook: 
          <a [href]="community.facebook" target="_blank">{{ community.facebook }}</a>
        </p>

        <p class="community-field" *ngIf="presidentName">
          <mat-icon>person</mat-icon>
          Predsednik: <strong>{{ presidentName }}</strong>
        </p>

        <div id="communityMap"></div>
      </div>
    </div>
  </main>
</div>
