<app-navbar
  class="mobile-navbar"
  [isSidebarOpen]="isSidebarOpen"
  (menuClick)="toggleSidebar()">
</app-navbar>

<div class="layout-container">
  <app-sidebar
    [isOpen]="isSidebarOpen"
    class="desktop-sidebar"
    [class.mobile-open]="isSidebarOpen">
  </app-sidebar>

  <main class="main-content">
    <header class="form-header">
      <h1>
        {{ isRequest ? 'Dodajte novi zahtev' : 'Dodajte novu ponudu' }}
      </h1>
    </header>

    <form [formGroup]="requestForm" class="announcement-form" (ngSubmit)="submit()">
  <label for="title">Naslov *</label>
  <input id="title" formControlName="title" type="text" placeholder="Unesite naslov">

  <label for="description">Opis *</label>
  <textarea id="description" formControlName="description" rows="5" placeholder="Unesite opis"></textarea>

<div class="dropdown">
  <label for="category">Kategorija *</label>

  <button type="button" id="category" class="dropdown-btn" (click)="toggleDropdown()">
    {{ selectedCategory ? categoryLabels[selectedCategory] : 'Izaberite kategoriju' }}
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <div class="dropdown-content" *ngIf="isDropdownOpen">
    <div (click)="selectCategory(HelpCategory.OldPeopleHelp)">Pomoć starijima</div>
    <div (click)="selectCategory(HelpCategory.HouseKeeping)">Kućni poslovi</div>
    <div (click)="selectCategory(HelpCategory.PetCare)">Briga o ljubimcima</div>
    <div (click)="selectCategory(HelpCategory.SmallRepairs)">Sitne popravke</div>
    <div (click)="selectCategory(HelpCategory.StudyHelp)">Pomoć oko učenja</div>
    <div (click)="selectCategory(HelpCategory.ThingsExchange)">Razmena stvari</div>
    <div (click)="selectCategory(HelpCategory.PhysicalWork)">Fizički rad</div>
    <div (click)="selectCategory(HelpCategory.Socializing)">Druženje</div>
  </div>
</div>

  <label for="postDate">Datum oglasa *</label>
  <input id="postDate" formControlName="postDate" type="date">

  <label for="expireDate" class="label-with-tooltip">
  Datum isteka *
  <span class="help-icon" title="Posle isteka datuma oglas se automatski briše.">ℹ️</span>
</label>
  <input id="expireDate" formControlName="expireDate" type="date">

  <label for="contact">Kontakt *</label>
  <input id="contact" formControlName="contact" type="text">

  <label for="attachment">Slika</label>
  <input id="attachment" type="file" (change)="onFileSelected($event)">
  <div *ngIf="previewUrl" class="image-preview">
    <img [src]="previewUrl" alt="Preview slike">
  </div>

  <div class="form-buttons">
    <button type="submit" class="btn-submit">Dodajte</button>
    <button type="button" class="btn-cancel" (click)="cancel()">Otkažite</button>
  </div>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</form>
  </main>
</div>
