<app-navbar
  class="mobile-navbar"
  [isSidebarOpen]="isSidebarOpen"
  (menuClick)="toggleSidebar()">
</app-navbar>

<div class="layout-container">
  <app-sidebar
    [isOpen]="isSidebarOpen"
    class="desktop-sidebar"
    [class.mobile-open]="isSidebarOpen">
  </app-sidebar>

  <main class="main-content">
    <header class="request-header">
      <h1>
        {{ isRequest ? 'Zahtevi za pomoć' : 'Ponude za pomoć' }}
      </h1>

      <button class="btn-add" (click)="goToAddRequest()">
        {{ isRequest ? 'Dodajte zahtev za pomoć' : 'Dodajte ponudu za pomoć' }}
      </button>
    </header>

    <div class="status-filter">

      <button
          [class.active]="selectedStatus === HelpStatus.Pending"
          (click)="changeStatus(HelpStatus.Pending)">
          Active
      </button>

      <button
          [class.active]="selectedStatus === HelpStatus.Completed"
          (click)="changeStatus(HelpStatus.Completed)">
          Completed
      </button>

      <!-- <button
          [class.active]="selectedStatus === HelpStatus.Expired"
          (click)="changeStatus(HelpStatus.Expired)">
          Expired
      </button> -->

  </div>

  <div class="category-filter">

    <div 
      class="category-item"
      [class.selected]="selectedCategory === null"
      (click)="changeCategory(null)">

      <mat-icon>apps</mat-icon>
      <span>Sve</span>
    </div>

    <div 
      class="category-item"
      *ngFor="let category of categories"
      [class.selected]="selectedCategory === category.value"
      (click)="changeCategory(category.value)">

      <mat-icon>{{category.icon}}</mat-icon>
      <span>
        {{category.name}}
      </span>
    </div>

  </div>

    <div class="request-grid">
      <div *ngFor="let req of requests" class="request-card">
        <img
          [src]="'https://localhost:44375/images/helpRequests/' + req.attachment || defaultImage"
          class="request-image"
          alt="{{ req.title }}"
          (error)="setDefaultImage($event)"
        >

        <div class="request-info">
          <h3 class="request-title">
            {{ req.title }}
          </h3>

          <p class="request-description">
            {{ req.description }}
          </p>

          <p class="request-meta">
            <span>
              <mat-icon>category</mat-icon>
              {{ categoryLabels[req.category] }}
            </span>

            <span>
              <mat-icon>schedule</mat-icon>
              {{ req.postDate | date:'short' }}
            </span>
          </p>

          <button
            (click)="goToRequest(req.id)"
            class="btn-more"
          >
            Prikažite više
          </button>
        </div>
      </div>
    </div>
  </main>
</div>