.layout-container {
  display: flex;
  height: 100vh;
}

.desktop-sidebar {
  display: block;
  flex-shrink: 0;
  width: 20vw;
  min-width: 250px;
  height: 100vh;
  background-color: #fcfaff;
  border-right: 1.7px solid var(--color-dark);
  transition: all 0.3s ease;
}

.main-content {
  flex-grow: 1;
  background-color: var(--color-lightest);
  padding: 3rem;
  overflow-y: auto;
}

.request-header {
  text-align: center;
  margin-bottom: 3rem;
}

.request-header h1 {
  font-size: 2.5vw;
}

.request-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.request-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #fcfaff;
  display: flex;
  transition: all 0.3s ease;
  flex-direction: column;
}

.request-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.request-image {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.request-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.request-title {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
}

.request-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #666;
}

.request-meta mat-icon {
  vertical-align: middle;
  font-size: 1rem;
  margin-right: 0.2rem;
}

.btn-more {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--color-dark);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.mobile-navbar {
  display: none;
}

.btn-add {
  margin-top: 1.5rem;
  margin-right:1.5rem;
  padding: 0.6rem 1.8rem;
  border: none;
  border-radius: 8px;
  font-weight: 500;
}

.request-card.important {
  box-shadow: 0 0 10px rgba(245, 197, 66, 0.25);
  position: relative;
}

.important-star {
  color: #f5c542; 
  font-size: 20px; 
  margin-left: 100px; 
  position: relative;
  top: 2px; 
  vertical-align: middle;
  cursor: default;
}


.status-filter {
    display: flex;
    gap: 24px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 24px;
}

.status-filter button {
    background: transparent;
    color: #666;
    border: none;
    padding: 12px 0;
    border-radius: 0;
    font-family: var(--font-normal);
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.status-filter button:hover {
    background: transparent;
    color: var(--color-dark);
}

.status-filter button.active {
    background: transparent;
    color: var(--color-dark);
    font-weight: 600;
}

.status-filter button.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    background: var(--color-dark);
    border-radius: 3px;
}

.category-filter {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding: 15px 0;
    margin-bottom: 25px;

    scrollbar-width: none;
}

.category-filter::-webkit-scrollbar {
    display:none;
}


.category-item {

    min-width: 90px;

    display:flex;
    flex-direction:column;
    align-items:center;

    color:#777;

    cursor:pointer;

    transition:.2s;
}


.category-item mat-icon {
    font-size:32px;
    width:32px;
    height:32px;
}


.category-item.selected {
    color: var(--color-dark);
    font-weight:600;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

.pagination-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.pagination-btn:hover:not(:disabled) {
  background: #f2f2f2;
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 599px) {
  .mobile-navbar {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #fcfaff;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 1100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  

  .desktop-sidebar {
    position: fixed;
    top: 60px; /* ispod navbar-a */
    left: 0;
    width: 80%;
    max-width: 300px;
    height: calc(100vh - 60px);
    background-color: #fcfaff;
    border-right: 1.7px solid var(--color-dark);
    transform: translateX(-200%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .layout-container {
    flex-direction: column;
  }


  /* Sidebar otvoren */
  .desktop-sidebar.mobile-open {
    display: block;
    transform: translateX(0);
  }

  .main-content.sidebar-open {
    display: none;
  }

  .main-content {
    padding-top: 70px; 
  }

  .request-header h1 {
    font-size: 8vw; 
    margin-bottom: 1rem;
  }

  .request-title{
    font-size: 5vw;
  }

  .request-grid {
    grid-template-columns: 1fr;
  }

  .main-content {
    padding: 1.5rem;
    padding-top: 70px; 
  }
}

