
<div class="container">
    <h2>Dodaj Mesnu Zajednicu</h2>
      
    <div class="form-group">
        <label>Naziv:</label>
        <input type="text" [(ngModel)]="communityName" placeholder="Npr. Detelinara">
    </div>

    <div class="form-group">
        <label>Grad:</label>
        <input type="text" [(ngModel)]="communityCity" placeholder="Npr. Novi Sad">
    </div>

    <div id="map" style="height: 600px; margin: 20px 0;"></div>

    <button (click)="saveCommunity()" [disabled]="!drawnPolygon">
         Sačuvaj Mesnu Zajednicu
    </button>
</div>
