<app-navbar
  class="mobile-navbar"
  [isSidebarOpen]="isSidebarOpen"
  (menuClick)="toggleSidebar()">
</app-navbar>

<div class="layout-container">
  <app-sidebar
    [isOpen]="isSidebarOpen"
    class="desktop-sidebar"
    [class.mobile-open]="isSidebarOpen">
  </app-sidebar>

  <main class="main-content" [class.sidebar-open]="isSidebarOpen">
    <div class="request-details" *ngIf="request">
      <h1 class="request-title">{{ request.title }}</h1>

      <img [src]="getImageUrl(request.picture || '')" class="request-image"
             alt="{{request.title}}"
             (error)="setDefaultImage($event)">

      <div class="request-info">
        <p class="request-dates">
          <mat-icon>event</mat-icon>
          <strong>Datum i vreme akcije:</strong>
          {{ (request.createdAt | date:'dd.MM.yyyy. HH:mm':'UTC') }}
        </p>
        <p class="request-type">
          <mat-icon>category</mat-icon>
          <strong>Tip akcije:</strong> {{ translateRequestType(request.requestType) }}
        </p>
        <p class="request-type">
          <mat-icon>groups</mat-icon>
      <strong>  Trenutno prijavljeno učesnika: </strong>{{ participantCount }}
  <button *ngIf="isAdmin"
    class="btn-view-participants"
    (click)="goToParticipants(request.id)">
    {{ request.fulfilled ? 'Ocenite učesnike' : 'Vidite učesnike' }}
  </button>

      </p>
      
         <p *ngIf="request.fulfilled" class="request-description">Zavrsena</p>
        <p class="request-description">{{ request.description }}</p>

        <div  *ngIf="!request.fulfilled && !isAdmin" class="participation-section">
            <button
              class="btn-participate"
              *ngIf="!isParticipating"
              (click)="participateInAction()">
              Učestvujte u radnoj akciji
            </button>

            <button
              class="btn-cancel-participation"
              *ngIf="isParticipating"
              (click)="cancelParticipation()">
              Otkažite učešće
            </button>
          </div>

          <p class="participation-info" *ngIf="!isAdmin">
  Učestvovanjem u akciji možete poboljšati svoju reputaciju! 
  Administrator dodeljuje pozitivnu ocenu samo učesnicima koji zaista prisustvuju i učestvuju u akciji.
</p>



        <div *ngIf="isAdmin" class="admin-buttons">
          <button class="btn-edit" (click)="editRequest(request.id)">Izmenite ili zavrsite akciju</button>
          <button class="btn-delete" (click)="deleteRequest(request.id)">Obrišite</button>
        </div>
      </div>
    </div>
  </main>
</div>
