<app-navbar
  class="mobile-navbar"
  [isSidebarOpen]="isSidebarOpen"
  (menuClick)="toggleSidebar()">
</app-navbar>

<div class="layout-container">
  <app-sidebar
    [isOpen]="isSidebarOpen"
    class="desktop-sidebar"
    [class.mobile-open]="isSidebarOpen">
  </app-sidebar>

  <main class="main-content">
    <header class="form-header">
      <h1>Izmenite radnu akciju</h1>
    </header>

    <form [formGroup]="requestForm" class="request-form" (ngSubmit)="submit()">

      <label for="title">Naslov *</label>
      <input id="title" formControlName="title" type="text" placeholder="Unesite naslov">

      <label for="description">Opis *</label>
      <textarea id="description" formControlName="description" rows="5" placeholder="Unesite opis"></textarea>

      <label for="createdAt">Datum održavanja *</label>
      <input id="createdAt" type="date" formControlName="createdAt">

      <label for="requestType">Tip akcije *</label>
        <select id="requestType" formControlName="requestType">
        <option value="" disabled>Izaberite tip akcije</option>
        <option [value]="'Donation'">Donacija</option>
        <option [value]="'Volunteering'">Volontiranje</option>
        <option [value]="'Transport'">Transport</option>
        </select>


      <div class="form-group-checkbox">
        <input type="checkbox" id="fulfilled" formControlName="fulfilled">
        <label for="fulfilled">Završena</label>
      </div>

      <label class="select-label" for="localCommunityId">Mesna zajednica</label>
      <select id="localCommunityId" formControlName="localCommunityId" [disabled]="true">
        <option *ngIf="isLoading" value="">Učitavanje...</option>
        <option *ngFor="let mc of localCommunities" [value]="mc.id">{{ mc.name }}</option>
      </select>
      <p *ngIf="!isLoading && requestForm.get('localCommunityId')?.value" class="info-text">
        Vaša mesna zajednica se ne može menjati.
      </p>

      <label for="picture">Slika</label>
      <input id="picture" type="file" (change)="onFileSelected($event)">
      <div *ngIf="previewUrl" class="image-preview">
        <img [src]="previewUrl" alt="Preview slike">
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn-submit">Sačuvajte izmene</button>
        <button type="button" class="btn-cancel" (click)="cancel()">Otkažite</button>
      </div>

      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    </form>
  </main>
</div>
