<div class="home-container">
  <div class="top-right-logo">
    <img src="assets/pictures/logo.png" alt="Blizu tebe logo" class="logo-icon" />
  </div>
  <div class="home-header">
    <h1>Blizu Tebe </h1> 
  </div>

  <div class="home-cards">
    
    <!-- Kartica: Usluge -->
    <div class="card1">
      <h3><mat-icon>volunteer_activism</mat-icon> Usluge</h3>
      <p>Pronađite, pratite ili ponudite korisne usluge u komšiluku.</p>
      
    </div>

    <!-- Kartica: Pomoći -->
    <div class="card1" >
      <h3><mat-icon>group</mat-icon> Pomoći</h3>
      <p>Postavite ili pogledajte zahteve za pomoć u zajednici.</p>
      
    </div>

    <!-- Pokloni -->
    <div class="card1">
      <h3><mat-icon>card_giftcard</mat-icon> Pokloni</h3>
      <p>Pronađite nove vlasnike za stvari koje vam više ne trebaju ili pronađite ono što vam nedostaje.</p>
    </div>

    <!-- Obaveštenja -->
    <div class="card2">
      <h3><mat-icon>campaign</mat-icon> Obaveštenja</h3>
      <p>Budite u toku sa najvažnijim vestima, obaveštenjima i događajima koji se tiču vaše zajednice.</p>
    </div>

    <!-- Radne akcije -->
    <div class="card2">
      <h3><mat-icon>handyman</mat-icon> Radne akcije</h3>
      <p>Uključite se u komšijske razgovore, razmenjujte ideje i budite deo zajedničkih radnih akcija u kraju.</p>
    </div>

    <!-- Moj nalog -->
    <div class="card2">
      <h3><mat-icon>person</mat-icon> Moj nalog</h3>
      <p>Uredite svoj profil i saznajte kako vas drugi vide i ocenjuju.</p>
    </div>

  </div>
</div>
