<div class="home-container">
  <div class="home-header">
    <h1>Blizu Tebe  <mat-icon class="header-icon">help_outline</mat-icon></h1> 
  </div>

  <div class="home-cards">
    
    <!-- Kartica: Usluge -->
    <div class="card1">
      <h3><mat-icon>volunteer_activism</mat-icon> Usluge</h3>
      <p>Pronađite, pratite ili ponudite korisne usluge u komšiluku.</p>
      <div class="card-actions">
        <button>Moje usluge</button>
        <button>Dodaj</button>
      </div>
    </div>

    <!-- Kartica: Pomoći -->
    <div class="card1" >
      <h3><mat-icon>group</mat-icon> Pomoći</h3>
      <p>Postavite ili pogledajte zahteve za pomoć u zajednici.</p>
      <div class="card-actions">
        <button>Moji zahtevi</button>
        <button>Dodaj</button>
      </div>
    </div>

    <!-- Pokloni -->
    <div class="card1">
      <h3><mat-icon>card_giftcard</mat-icon> Pokloni</h3>
      <p>Pronađite ili poklonite korisne stvari koje vam više nisu potrebne.</p>
    </div>

    <!-- Obaveštenja -->
    <div class="card2">
      <h3><mat-icon>campaign</mat-icon> Obaveštenja</h3>
      <p>Budite u toku sa najvažnijim vestima, obaveštenjima i događajima koji se tiču vaše zajednice.</p>
    </div>

    <!-- Radne akcije -->
    <div class="card2">
      <h3><mat-icon>handyman</mat-icon> Radne akcije</h3>
      <p>Uključite se u komšijske diskusije i radne akcije.</p>
      <div class="card-actions">
        <button>Diskusije</button>
      </div>
    </div>

    <!-- Moj nalog -->
    <div class="card2">
      <h3><mat-icon>person</mat-icon> Moj nalog</h3>
      <p>Uredite svoj profil i saznajte kako vas drugi vide i ocenjuju.</p>
    </div>

  </div>
</div>
