<app-navbar
  class="mobile-navbar"
  [isSidebarOpen]="isSidebarOpen"
  (menuClick)="toggleSidebar()">
</app-navbar>

<div class="layout-container">
  <app-sidebar
    [isOpen]="isSidebarOpen"
    class="desktop-sidebar"
    [class.mobile-open]="isSidebarOpen">
  </app-sidebar>

  <main class="main-content">
    <header class="announcement-header">
      <h1>Obaveštenja</h1>
      <button *ngIf="isAdmin" class="btn-add" (click)="goToAddAnnouncement()">
    Dodajte obaveštenje
  </button>
    </header>

    <div class="announcement-grid">
      <div *ngFor="let ann of announcements" class="announcement-card">
        <img [src]="getImageUrl(ann.existingPicture)" class="announcement-image"
     alt="{{ann.title}}" 
     (error)="setDefaultImage($event)">



        <div class="announcement-info">
          <h3 class="announcement-title">{{ ann.title }}</h3>
          <p class="announcement-meta">
            <span class="time">
              <mat-icon>schedule</mat-icon>
              {{ ann.expirationDate | date:'short' }}
            </span>
          </p>
          <button (click)="goToAnnouncement(ann.id)" class="btn-more" >Prikažite više</button>
        </div>
      </div>
    </div>
  </main>
</div>
