<app-navbar
  class="mobile-navbar"
  [isSidebarOpen]="isSidebarOpen"
  (menuClick)="toggleSidebar()">
</app-navbar>

<div class="layout-container">
  <app-sidebar
    [isOpen]="isSidebarOpen"
    class="desktop-sidebar"
    [class.mobile-open]="isSidebarOpen">
  </app-sidebar>

  <main class="main-content">
    <header class="request-header">
      <h1>Radne akcije</h1>
      <button *ngIf="isAdmin" class="btn-add" (click)="goToAddRequest()">
        Dodajte radnu akciju
      </button>
    </header>

    <div class="filter-bar">
  <div class="filter-group">
    <mat-form-field appearance="fill" class="filter-select">
      <mat-label>Tip akcije</mat-label>
      <mat-select [(ngModel)]="selectedType" (selectionChange)="applyFilters()">
        <mat-option value="">Sve</mat-option>
        <mat-option value="0">Donacija</mat-option>
        <mat-option value="1">Volontiranje</mat-option>
        <mat-option value="2">Transport</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filter-group">
    <mat-form-field appearance="fill" class="filter-select">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="selectedStatus" (selectionChange)="applyFilters()">
        <mat-option value="">Sve</mat-option>
        <mat-option value="fulfilled">Završene</mat-option>
        <mat-option value="unfulfilled">Nezavršene</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>



    <div class="request-grid">
      <div *ngFor="let req of requests" class="request-card">
        <img [src]="getImageUrl(req.picture || '')" class="request-image"
             alt="{{req.title}}"
             (error)="setDefaultImage($event)">

        <div class="request-info">
          <h3 class="request-title">{{ req.title }}</h3>
          <p class="request-meta">
            <span class="time">
              <mat-icon>schedule</mat-icon>
              {{ adjustOneHourBack(req.createdAt) | date:'dd.MM.yyyy. HH:mm' }}
            </span>
          </p>
          <button (click)="goToRequest(req.id)" class="btn-more">Prikažite više</button>
        </div>
      </div>
    </div>
  </main>
</div>
