<div class="home-container">
  <div class="top-right-logo">
    <img src="assets/pictures/logo.png" alt="Blizu tebe logo" class="logo-icon" />
  </div>

  <h1 class="main-title">Blizu tebe</h1>

  <h2 class="slogan">
  <span class="slogan-line1">Pomoć je uvek tu </span>
  <span class="slogan-line2">dovoljno je da pitaš</span>
</h2>

  <div class="description">
    <p>„Blizu tebe“ je aplikacija koja povezuje komšije!</p>
    <p>Ponudite svoje usluge, zatražite pomoć, organizujte i doprinesite radnim akcijama i budite u toku sa dešavanjima.</p>
    <p>Sve na jednom mestu – za podršku, saradnju i bolji komšiluk!</p>
    <p>„Blizu tebe“, za snažnije zajednice!</p>
  </div>

  <div class="buttons">
    <button (click)="goToLogin()" class="login-btn">Prijavite se</button>
    <p class="text">ili ako nemate nalog:</p>
    <button class="register-btn">Registrujte se</button>
  </div>
</div>

